.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 80px;
    padding: 0 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 50px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
  }
  
  .navbar ul li {
    margin-right: 2rem;
  }
  
  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333333;
    transition: all 0.3s ease;
  }
  
  .navbar a:hover {
    color: #bd2828;
  }
  